#~ MAGENTO START fae1efea8f0ff9380b0aa202ddf3674bfb036710c7ec610bda866c0929b59c67
* * * * * /usr/bin/php /var/www/html/bin/magento cron:run 2>&1 | grep -v "Ran jobs by schedule" >> /var/www/html/var/log/magento.cron.log
#~ MAGENTO END fae1efea8f0ff9380b0aa202ddf3674bfb036710c7ec610bda866c0929b59c67
